# Лабораторная работа 1. Язык Python, основные библиотеки для анализа данных.

## ФИО: Попов Артём Сергеевич

## Группа: 317

## Часть 1. Pyhton

### 1. Напишите код, который сформирует список всех натуральных чисел, не превосходящих 100, которые делятся на 7 и не делятся на 5. Нельзя использовать циклы — выполните это задание с помощью list comprehension.

In [1]:
numbers = []
numbers = [x for x in range(1, 100) if x % 7 == 0 and x % 5 != 0]
print(numbers)

[7, 14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98]

### 2. Напишите функцию sort_tokens(s), которая принимает на вход строку, разделяет ее на токены по запятым, сортирует токены с помощью функции sorted() и снова соединяет их в одну строку через запятые. Например, для строки u"ночь,фонарь,улица" функция должна выдать u"ночь,улица,фонарь". Придумайте несколько входных строк и протестируйте функцию на них.

In [2]:
def sort_tokens(s):
    words = s.split(',')
    words = list(map(lambda s: s.strip(), words)) # удаляем лишние пробельные символы
    words.sort()
    s = ','.join(words)
    return s

#### Проверка функции

In [3]:
sort_tokens('aaa, bbb, ccc') # идеальный случай
sort_tokens('alexey, alexandr, polina, dima, artem, sonya, nadya')
sort_tokens('ммп, мс, ая, сп, втм, са, ани, ом, фап, вм, асвк, ски, ндс, оу, иб, ио')

'ани,асвк,ая,вм,втм,иб,ио,ммп,мс,ндс,ом,оу,са,ски,сп,фап'

### 3. Напишите функцию remove_duplicates(a), которая принимает на вход список и возвращает его же, но без дубликатов и в отсортированном виде. Например, для списка [u"ночь", u"улица", u"фонарь", u"аптека", u"аптека", u"улица", u"фонарь"] результат должен быть [u"аптека", u"ночь", u"улица", u"фонарь", ].

In [4]:
def remove_duplicates(words):
    set_of_words = set(words)
    words = list(set_of_words)
    words.sort()
    return words

#### Проверка

In [5]:
remove_duplicates(['u', 'u', 'a', 'c', 'a', 'a', 'b', 'c', 'b', 'z', 'g', 'z', 'j'])

['a', 'b', 'c', 'g', 'j', 'u', 'z']

### 4. Напишите функцию word_counts(texts), которая принимает на вход список строк, и печатает пары (слово, число вхождений). Считайте, что слова в текстах могут быть разделены только пробелами. Например, для входа [u'ночь улица фонарь аптека', u'аптека улица фонарь'] должно быть напечатано аптека 2 улица 2 фонарь 2 ночь 1

In [6]:
import functools # для использования reduce
import collections # для defaultdict

def word_counts(texts):
    texts = list(map(lambda s: s.split(' '), texts))
    texts = functools.reduce(lambda l1, l2: l1 + l2, texts)
    dic = collections.defaultdict(int)
    for item in texts:
        dic[item] += 1
    for item in dic:
        print (item, dic[item])
    return None

#### Проверка

In [7]:
word_counts(['a a a b b c c', 'a aa aaa a bb b b cc c', 'a c cc c a b a bbb a aa aaa a a'])

cc 2
bbb 1
aa 2
aaa 2
c 5
bb 1
b 5
a 11

## 5. (бонусное задание) Скачайте английский перевод "Преступления и наказания". Найдите 20 самых популярных слов и 20 слов, которые встречаются только один раз. 

### Приведите текст к нижнему регистру. Разделите текст на слова, считая разделителями все, кроме букв. Обратите внимание на функцию split из модуля re.

In [8]:
import urllib.request
import re
url = "http://www.gutenberg.org/files/2554/2554.txt"
response = urllib.request.urlopen(url)
raw_text = response.read().decode('utf8')

In [9]:
def word_counts_2(texts):
    dic = collections.defaultdict(int)
    for item in texts:
        dic[item] += 1
    return dic

words = (filter(lambda x: len(x) != 0, re.split('[^a-z]', raw_text.lower())))

dic = word_counts_2(words) # делаем словарь - слово - сколько раз оно встречается
words = list(dic.items())
words = sorted(words, key = lambda word: word[1]) 

print('Слова, встречающиеся один раз') 
for i in range(0, 20):
    print(words[i][0])
    
print('\nСамые частые слова')
for i in (range(-1,-21, -1)):
    print(words[i][0])

Слова, встречающиеся один раз
silky
framework
obsolete
stoves
chatting
suitor
helps
numbed
central
halfway
voluntary
smoother
pailfuls
scarf
booksellers
shrieks
doctrines
blurts
beckoning
cyprus

Самые частые слова
the
and
to
he
a
i
you
of
it
that
in
was
his
at
her
but
not
s
with
she

## Часть 2: NumPy и SciPy¶

In [10]:
import numpy as np

### 1. Повторите 1000 раз следующий эксперимент: сгенерируйте две матрицы размера 10×10 из стандартного нормального распределения, перемножьте их (как матрицы) и найдите максимальный элемент. Какое среднее значение по экспериментам у максимальных элементов? 95-процентная квантиль?

In [11]:
mu = 0
sigma = 1
maxi = np.zeros((1000))
for i in range(0, 1000):
    matr1 = np.random.normal(mu, sigma, size = (10, 10))
    matr2 = np.random.normal(mu, sigma, size = (10, 10))
    matr3 = np.dot(matr1, matr2)
    maxi[i] = matr3.max()

print(np.mean(maxi))
print(np.percentile(maxi, 95))

8.39360333957
11.9772316946

### 2. Сгенерируйте 1000 чисел из распределения Пуассона с параметром λ=5. Сформируйте массив, в котором в i-м элементе будет записано количество сгенерированных чисел, равных i.

In [12]:
matr1 = np.random.poisson(lam = 5, size = (1000))
matr2 = np.bincount(matr1)
print(matr2)

[  7  38  87 150 176 168 135 109  63  44  15   4   4]

### 3. Реализуйте функцию, которая принимает на вход numpy-массив целых чисел a, и генерирует массив, в котором число i встречается a[i] раз. Протестируйте на результате из прошлого задания.¶

In [13]:
def gen_mas(npmas):
    return np.repeat(range(0, len(npmas)), npmas)

print(gen_mas(matr2))

[ 0  0  0  0  0  0  0  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1
  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  1  2  2  2  2  2
  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2
  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2
  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2  2
  2  2  2  2  2  2  2  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3
  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3
  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3
  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3
  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3
  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3  3
  3  3  3  3  3  3  3  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4
  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4
  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4
  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4
  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4
  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4
  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4  4
  4  4  4  4  4  4  4  4  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5
  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5
  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5
  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5
  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5
  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5
  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5  5
  5  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6
  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6
  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6
  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6
  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6  6
  6  6  6  6  6  6  6  6  6  6  6  7  7  7  7  7  7  7  7  7  7  7  7  7  7
  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7
  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7
  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7
  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  7  8  8  8  8  8
  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8
  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8  8
  8  8  8  8  8  8  8  8  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9
  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9  9
  9  9 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 11 11 11 11 12 12 12 12]

### 4. Напишите функцию scale(X), которая принимает на вход матрицу и масштабирует каждый ее столбец (вычитает среднее и делит на стандартное отклонение). Убедитесь, что в функции не будет происходить деления на ноль. Протестируйте на каких-нибудь данных.¶

In [14]:
matr1 = np.random.random(size = (10, 10)) * 100 - 50
matr1

def scale(X):
    mu = np.mean(X, axis = 0)
    sigma = np.std(X, axis = 0)
    sigma[sigma == 0] = 1 # 0 = все элементы равны => обнуление столбцов, где sigma = 0
    X = (X - mu) / sigma
    return X

scale(matr1)

array([[ 0.74691311, -0.35069993, -0.51344955,  0.21273039, -1.49943642,
         1.50722928, -0.57564807, -0.50914612, -0.47298894, -1.61786767],
       [-0.16923349, -0.27278932,  0.77869001,  1.1540773 ,  0.36440597,
         0.38768856,  0.62266473, -0.9716975 , -1.48361021,  1.03801398],
       [ 0.75264209, -1.49008567,  1.10624497, -1.52176738, -1.22142931,
        -0.54311682,  1.1543447 ,  0.07424275, -1.26426182,  0.50411325],
       [-0.50132449, -0.06930883, -0.78073847, -0.6714285 ,  0.20564567,
        -0.49093632, -1.28061122, -0.58438297, -0.16898899, -0.64974509],
       [ 1.67548286,  1.50846264, -0.66635361, -1.17414831,  1.58217629,
         0.55341259,  1.39559322, -0.90097999,  0.41386182,  0.64641273],
       [-1.960798  , -0.0550136 , -1.72008098,  0.61031933, -0.14560185,
        -1.51218965,  0.49310323, -0.2312717 ,  1.18899765,  1.29314293],
       [ 0.09061833,  0.84619164, -1.06735866, -1.07848415,  0.42247342,
        -0.28281422, -1.37343764,  0.44568882,  0.8969921 ,  0.26186848],
       [-1.12261263, -1.04136038,  1.03962872,  0.0555002 ,  0.87069482,
        -0.38272953,  0.2695545 ,  1.79689318,  1.05468116, -1.64985028],
       [-0.28310931,  1.70146132,  0.83598881,  1.09005211, -1.39763055,
         1.78370553, -1.32994841,  1.81311012,  1.02055539,  0.692332  ],
       [ 0.77142154, -0.77685787,  0.98742876,  1.32314901,  0.81870196,
        -1.02024943,  0.62438497, -0.93245659, -1.18523816, -0.51842033]])

### 5. Сгенерируйте матрицу с элементами из нормального распределения N(10,1). Найдите ее:¶

### определитель; след; наименьший и наибольший элементы; спектральную норму; норму Фробениуса; собственные числа; обратную матрицу

In [15]:
mu = 10
sigma = 1

matr = np.random.normal(mu, sigma, size = (10, 10))
det = np.linalg.det(matr)
print('det = ', det)
print('trace = ', np.trace(matr))
print('min = ', matr.min())
print('max = ', matr.max())
print('spectral = ', np.linalg.norm(matr, ord = 2))
print('frobenius = ', np.linalg.norm(matr, ord = 'fro'))
print('eigenvalues = ', np.linalg.eigvals(matr))
if det != 0:
    print('inverse matrix = ', np.linalg.inv(matr))
else:
    print('There is no inverse matrix')

det =  35896.2336478
trace =  97.2896468651
min =  8.14606302352
max =  12.297815101
spectral =  99.7908637349
frobenius =  100.183176505
eigenvalues =  [ 99.74794250+0.j          -2.02322973+2.2612146j   -2.02322973-2.2612146j
  -2.68682417+0.j          -1.15943416+0.j           0.58167998+2.16097296j
   0.58167998-2.16097296j   1.78308799+0.61236709j   1.78308799-0.61236709j
   0.70488621+0.j        ]
inverse matrix =  [[ 0.31776898  0.09272398 -0.26742765 -0.22723424  0.17694354  0.28660252
  -0.03314975 -0.01392239 -0.18143786 -0.13037755]
 [ 0.78834466  0.21090567 -0.58112733 -0.1746599   0.19631484  0.12142808
  -0.3160517   0.26308917 -0.32369125 -0.16563559]
 [ 0.03551077 -0.02107321  0.26168076  0.10813647  0.14315733 -0.05928745
   0.21877161  0.03941471 -0.6337996  -0.09440171]
 [-0.28624333 -0.08733057 -0.00822952  0.10650749 -0.06463388  0.08702198
  -0.14793     0.17449166  0.30719888 -0.06354255]
 [-0.6448283  -0.02962935  0.45431504  0.4040129  -0.41964985 -0.15394555
   0.17272155 -0.43741953  0.36090895  0.30082543]
 [ 1.23591818 -0.03583311 -0.83953341 -0.86878255 -0.15721569  0.40318811
  -0.66312418  0.7768867   0.18442876 -0.00755735]
 [-1.2080834  -0.30460468  0.96960102  0.61296641  0.18256977 -0.46783302
   0.78554978 -0.68638196 -0.21367343  0.31368653]
 [-1.04522654  0.34275526  0.47725953  0.33108578 -0.18337213 -0.5377233
   0.1835137  -0.39072833  0.47310895  0.33368643]
 [ 0.13989182 -0.27319595 -0.13617153 -0.02191873  0.07803366  0.09517449
   0.23666034  0.13671653 -0.02905198 -0.20777044]
 [ 0.6636759   0.12068191 -0.32294595 -0.25376644  0.04169465  0.21464079
  -0.4301633   0.1427951   0.10232618 -0.25606538]]

## Часть 3: Pandas¶

Ответьте на вопросы о данных по авиарейсам в США за январь-апрель 2008 года.

Данные: http://stat-computing.org/dataexpo/2009/2008.csv.bz2 (обратите внимание, что распаковывать этот файл не обязательно — функция pandas.read_csv умеет читать из архивов автоматически)

Описание: http://stat-computing.org/dataexpo/2009/the-data.html

### Чтение данных

In [16]:
import pandas as pd
Location = r'/home/arti32lehtonen/Загрузки/2008.csv.bz2'
df = pd.read_csv(Location)

### Найдите среднее, минимальное и максимальное расстояние, пройденное самолетом.

In [17]:
print('max distance = ', df['Distance'].max())
min_dist = df['Distance'].min()
print('min distance = ', min_dist)
print('mean distance = ', df['Distance'].mean())

max distance =  4962
min distance =  11
mean distance =  726.387029425

### Какая из причин отмены рейса (CancellationCode) была самой частой? (расшифровки кодов можно найти в описании данных)

In [18]:
df['CancellationCode'].value_counts().argmax()

'B'

In [19]:
print('The most frequent is B - weather')

The most frequent is B - weather

### Не выглядит ли подозрительным минимальное пройденное расстояние? В какие дни и на каких рейсах оно было? Какое расстояние было пройдено этими же рейсами в другие дни?

In [20]:
df[df['Distance'] == min_dist][['Month', 'DayofMonth', 'DayOfWeek', 'FlightNum', 'UniqueCarrier', 'TailNum']]

         Month  DayofMonth  DayOfWeek  FlightNum UniqueCarrier TailNum
2547298      5          15          4       4988            OH  N806CA
4392215      8          10          7       5572            OH  N819CA

In [21]:
df[ (df['FlightNum'] == 4988) & (df['UniqueCarrier'] == 'OH')]['Distance'].value_counts()

834    130
96       1
11       1
dtype: int64

In [22]:
df[ (df['FlightNum'] == 5572) & (df['UniqueCarrier'] == 'OH')]['Distance'].value_counts()

544    243
11       1
dtype: int64

### Из какого аэропорта было произведено больше всего вылетов? В каком городе он находится?

In [23]:
df1 = df['Origin'].value_counts().argmax()
print('Airport = ATL')
print('City = Atlanta')

Airport = ATL
City = Atlanta

### Найдите для каждого аэропорта среднее время полета (AirTime) по всем вылетевшим из него рейсам. Какой аэропорт имеет наибольшее значение этого показателя?

In [24]:
df1 = df[['Origin', 'AirTime']]
groups = df1.groupby(df1['Origin'])
mean_air_time = groups.mean()
mean_air_time # не вывожу все аэропорты, но найдены все значения

           AirTime
Origin
ABE      89.057518
ABI      36.789977
ABQ      91.657166
ABY      35.379759
ACK      50.692124
ACT      29.875977
ACV      58.850658
ACY     108.848214
ADK     151.423913
ADQ      41.987934
AEX      68.543556
AGS      36.933814
AKN      37.321429
ALB     101.860527
ALO      36.373134
AMA      56.196001
ANC     156.163749
ASE      48.307996
ATL      93.320419
ATW      50.696326
AUS     101.266600
AVL      69.899021
AVP      94.665204
AZO      34.846602
BDL     118.701612
BET      57.597815
BFL      64.024511
BGM      66.582260
BGR      90.211095
BHM      82.290713
...            ...
SPS      29.490040
SRQ     103.083807
STL      99.294409
STT     168.681929
STX     168.101176
SUN      48.221851
SUX      44.918919
SWF     132.768826
SYR      84.524087
TEX      93.124183
TLH      59.293080
TOL      48.295047
TPA     117.917963
TRI      47.871046
TUL      80.876802
TUP      42.900000
TUS      92.801864
TVC      49.328770
TWF      41.316563
TXK      43.796312
TYR      30.372715
TYS      81.030894
VLD      45.158351
VPS      75.231116
WRG      16.741606
WYS      62.961977
XNA      84.253180
YAK      36.372159
YKM      80.697329
YUM      48.876952

[303 rows x 1 columns]

In [25]:
print(mean_air_time['AirTime'].argmax())
print('Airport == Luis Munoz Marin International San Juan USA')

SJU
Airport == Luis Munoz Marin International San Juan USA

### Найдите аэропорт, у которого наибольшая доля задержанных (DepDelay > 0) рейсов. Исключите при этом из рассмотрения аэропорты, из которых было отправлено меньше 1000 рейсов (используйте функцию filter после groupby).

In [26]:
df1 = df[['Origin', 'DepDelay']]
groups = df1.groupby(['Origin']) # группируем по аэропортам
df1 = groups.filter(lambda x: len(x) >= 1000) # исключаем группы с числом элементов меньше 1000
groups = df1.groupby('Origin') # снова группируем по аэропортам
numb_all = groups.count() # число всех рейсов для каждого аэропорта
numb_dep_delay = df1[df1['DepDelay'] > 0].groupby('Origin').count() # число задержанных рейсов
ratio = numb_dep_delay / numb_all
print(ratio['DepDelay'].argmax())
print('Airport == Dallas Love Field')

DAL
Airport == Dallas Love Field